.center{
    font-weight: bolder;
    text-align: center;
    white-space: pre-wrap;
}

  #start {
    margin-left: 20px;
    font-size: 25px;
    color: rgb(190, 58, 58);
    border-style: solid;
    width: 100px;
    background-color: aqua;
    margin: auto;
    display: block;
    
  }
  .parent {
    text-align: center;
  }
 
  #questionText{
    font-size: 30px;
    text-align: center;
    white-space: pre-wrap;
  }

  .options{
    margin-left: 20px;
    font-size: 25px;
    border-style: ridge;
    width: 750px;
    margin: auto;
    display: inline-block;
    display: flex;
    border-color: rgb(54, 56, 54);
    color: rgb(9, 10, 9);
    
  }
  
  .options:hover{
    background-color: grey;
    color: white;
  }
  
.question{
  border-style: inset;
  border-color: red;
  border-left: 6px solid red;
}
  